<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.2.xsd 
			http://www.springframework.org/schema/task   
	   		http://www.springframework.org/schema/task/spring-task-4.2.xsd
	   		http://www.springframework.org/schema/tx
       		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
       		http://www.springframework.org/schema/tool
       		http://www.springframework.org/schema/tool/spring-tool-4.2.xsd">
	   		
	<!-- 配置包扫描 -->
	<!-- <context:component-scan base-package="cn.java.controller.*"/> -->
	<context:component-scan base-package="cn.java.controller"
        use-default-filters="false">
        <context:include-filter type="annotation"
            expression="org.springframework.stereotype.Controller" />
</context:component-scan>
	
	<!-- mvc注解驱动 -->
	<mvc:annotation-driven/>
	
	<!-- 视图解析器 -->
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置前缀 -->
		<property name="prefix" value="/pages"></property>
		<!-- 配置后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<mvc:default-servlet-handler/>
	<!-- <mvc:resources location="/image/" mapping="/image/**"/>   
	<mvc:resources location="/js/" mapping="/js/**"/>    
	<mvc:resources location="/css/" mapping="/css/**"/> -->
	   		
</beans>